@import url('reset.css');

.container {
    width: 1200px;
    margin: auto;
}
.inline-block {
    font-size: 0;
}
.inline-block>div{
    display: inline-block;
    vertical-align: top;
}
.text-font-size {
    font-size: 16px;
}
.flex {
    display: flex;
}
.float{
    float: left;
}
.first div,.second div,.third div{
    outline: 1px solid #000;
}

.first div {
    background-color:#F6FFD4 ;
}

.second div{
    background-color:#DAFBF7;
}
.third div {
    background-color:#F9E6F9;
}
.first-child, .third-child-one, .second-child-two{
    width: 400px;
    height: 400px;
}
.second-child div {
    height: 200px;
    width: 800px;
}
.second-child-two div {
    height: 133.333px;
    width: 400px;
}
.third-child-two {
    width: 800px;
    height: 400px;
}

.thirdChild{
    height: 200px;
}
.thirdChild-one{
    width: 400px;
   height: 200px;
}
.last-child{
    height: 100px;
}
.button-block {
    margin:20px;
}
.button {
   display: inline-block;
   padding: 10px 40px;
   font-size: 25px;
   text-transform: uppercase;
   background-color: #FF4081;
   text-decoration: none;
   border-radius: 6px;
   color:black;
}